.card-custom {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #00bcf3;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card-custom-title {
    margin-bottom: 0.75rem;
    min-height: 48px;
}

.bg-primary {
    background-color: #007bff !important;
}

