.navbar-custom {
    background-color: #1c25ff;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text{
    color: rgba(255, 255, 255, .8);
}

.navbar-custom .btn{
    color: #ffffff;
}

.navbar .dropdown-toggle {
    color: #ffffff;
}
